<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Book List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0, user-scalable=yes"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <% books.forEach(book => { %>
            <h1 class="bookTitle">
                <a href="/books/<%= book._id %>"><%= book.title %></a>
            </h1>
            <p class="bookDescription"><%= book.description %></p>
        <% }) %>
    </body>
</html>
