<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, maximum-scale=2.0"/>
    </head>
    <body>
        <main>
            <% users.forEach(user => { %>
                <h1><%= user.username %></h1>
            <% }) %>
        </main>
    </body>
</html>