<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>User Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, maximum-scale=2.0"/>
    </head>
    <body>
        <main>
            <form method="POST" action="/users/new">
                <input type="text" name="username" placeholder="USERNAME"/>
                <input type="email" name="email" placeholder="EMAIL"/>
                <input type="text" name="password" placeholder="PASSWORD"/>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>