/* Layout Styles */

/* padding */
.padding{
  padding: 20px;
}

/* tile */
.margin-bottom{
  margin-bottom: 20px;
}

/* rootForm */
.rootForm{
  margin-bottom: 20px;
}

/* footer links */
.footer li{
  list-style-type: none;
}