<!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0"/>
        <!-- stylesheets -->
        <!-- css reset -->
        <link rel="stylesheet" type="text/css" href="/stylesheet/main.css"/>
        <!-- styles -->
        <!-- <link rel="stylesheet" type="text/css" href="./.temp/sg.css"/> -->
        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <title>About</title>
    </head>
    <body>
        <!--  Hero Section -->
        <section class="hero">
            <!-- Header -->
            <header>
                <div class="menuwrapper">
                <nav class="flex-between">
                    <h1><a class="logo" href="/"><span class="fa fa-bold"></span>ootie</a>
                    </h1>

                    <ul class="flex-between">
                        <li><a class="nav__link" href="/">Home</a></li>
                        <li><a class="nav__link" href="/about">About</a></li>
                        <li><a class="nav__link" href="/blog">Blog</a></li>

                        <li class="sub-menu-box">
                        <a class="nav__link" href="#">Dropdown <span><i class="fas fa-caret-down"></span></i></a>
                            <div class="sub-menu-container">
                            <ul class="sub-menu">

                                <li><a class="sub-menu__link" href="/blog">Blog</a></li>
                                <li><a class="sub-menu__link" href="/shopnow">Shop Now</a></li>
                                <li><a class="sub-menu__link" href="/singlepage">Single Page</a></li>
                            </ul>
                            </div>
                        </li>


                        <li><a class="nav__link" href="/contact">Contact</a></li>

                    </ul>

                </nav>
                </div>

                <div class="bannerinfo">
                    <p> Trending of the week</p>
                    <h3>CASUAL SHOWS FOR <br> MEN</h3>
                    <div class="buttons">
                        <button class="btn btn1">SHOP NOW</button>
                        <button class="btn btn2">READ MORE</button>
                    </div>
                </div>
            </header>
        </section>
        <main>
            <nav class="mainNav">
                <address class="mainPageAdd"><span><a class="mainNavHome" href="/">Home</a></span> About Us</address>
            </nav>
            <div class="mainWelcome">
                <p class="mainCurrentPage">About.</p>
                <h1 class="mainH1">WELCOME TO OUR WEBSITE</h1>
                <p class="mainP">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>
            <section class="mainOffer">
                <h2 class="offerHeading">WHAT WE OFFER</h2>
                <div class="offerContainer">
                    <div class="offer">
                        <div><i class="offerIcon fas fa-truck"></i></div>
                        <h3 class="offerName">FREE SHIPPING</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                    <div class="offer offerMiddle">
                        <div><i class="offerIcon fas fa-bullhorn"></i></div>
                        <h3 class="offerName">FREE RETURN</h3>
                        <p class="offerDescription">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                    <div class="offer">
                        <div><i class="offerIcon fas fa-gift"></i></div>
                        <h3 class="offerName">MEMBER DISCOUNT</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
            </section>
            <section class="mainSale">
                <div class="saleContainer">
                    <div class="saleImgContainer">
                        <img class="saleShoes" src="/media/saleShoes.jpg" alt="shoes"/>
                    </div>
                    <div class="saleText">
                        <p class="saleCaption">THE SEASON BEGINS</p>
                        <h2 class="saleHeading">PROMOTION SALE OFF 20&percnt;</h2>
                        <p class="saleDescription">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                        <ul class="saleOfferList">
                            <li class="saleListItem"><i class="saleTick fas fa-check"></i> Integer sit amet mattis quam</li>
                            <li class="saleListItem"><i class="saleTick fas fa-check"></i> Praesent ullamcorper dui turpis</li>
                            <li class="saleListItem"><i class="saleTick fas fa-check"></i> Integer sit amet mattis quam</li>
                            <li class="saleListItem"><i class="saleTick fas fa-check"></i> Integer sit amet mattis quam</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="mainGraph">
                <div class="mainGraphContainer">
                    <div class="graphIcon"><i class="fas fa-chart-line"></i></div>
                    <div>
                        <h2 class="graphHeading">INAGITTIS LACG</h2>
                        <p class="graphDescription">Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.</p>
                    </div>
                    <div class="graphIcon"><i class="far fa-bell"></i></div>
                    <div>
                        <h2 class="graphHeading">VELITDIPISC INAGITTIS</h2>
                        <p class="graphDescription">Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.</p>
                    </div>
                    <div class="graphIcon"><i class="fas fa-chart-line"></i></div>
                    <div>
                        <h2 class="graphHeading">SAGITTIS LACUS</h2>
                        <p class="graphDescription">Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.</p>
                    </div>
                    <div class="graphIcon"><i class="fas fa-chart-line"></i></div>
                    <div>
                        <h2 class="graphHeading">INAGITTIS LACG</h2>
                        <p class="graphDescription">Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.</p>
                    </div>
                    <div class="graphIcon"><i class="far fa-bell"></i></div>
                    <div>
                        <h2 class="graphHeading">VELITDIPISC INAGITTIS</h2>
                        <p class="graphDescription">Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.</p>
                    </div>
                    <div class="graphIcon"><i class="fas fa-chart-line"></i></div>
                    <div>
                        <h2 class="graphHeading">SAGITTIS LACUS</h2>
                        <p class="graphDescription">Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.</p>
                    </div>
                </div>
            </section>
            <section class="mainReview">
                <div class="reviewContainer">
                    <h2 class="reviewName">JENIFER BURNS</h2>
                    <div class="reviewStars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star-half-alt"></i></span>
                       <span><i class="far fa-star"></i></span>
                    </div>
                    <blockquote class="review"><span class="reviewQuotes"><i class="fas fa-quote-left"></i></span> Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. <span class="reviewQuotes"><i class="fas fa-quote-right"></i></span></blockquote>
                </div>
            </section>
            <section class="mainProducts">
                <h2 class="productsHeading">POPULAR PRODUCTS</h2>
                <div class="productsGrid">
                    <div class="productsContainer">
                        <img class="productsImg" src="/media/productShoes1.jpg" alt="popular products"/>
                        <span><a class="productsShopNowLink" href="/shopnow">SHOP NOW</a></span>
                    </div>
                    <div class="productsContainer">
                        <img class="productsImg" src="/media/productShoes2.jpg" alt="popular products"/>
                        <span><a class="productsShopNowLink" href="/shopnow">SHOP NOW</a></span>
                    </div>
                    <div class="productsContainer">
                        <img class="productsImg" src="/media/productShoes3.jpg" alt="popular products"/>
                        <span><a class="productsShopNowLink" href="/shopnow">SHOP NOW</a></span>
                    </div>
                </div>
            </section>
        </main>
                <!-- footer -->

            <section class="footersection">
            <footer class="footerwrap">
                <div class="footerleft">
                    <a href="/"><h2><span class="fa fa-bold"></span>ootie</h2></a>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <h4>CATCH ON SOCIAL</h4>
                    <ul class="ulsocial">
                        <div class="contact_icon fbcol"><li><i class="fab fa-facebook-f"></i></li></div>
                        <div class="contact_icon twittercol"><li><i class="fab fa-twitter"></i></li></div>
                        <div class="contact_icon dribblecol"><li><i class="fab fa-dribbble"></i></li></div>
                        <div class="contact_icon gpluscol"><li><i class="fab fa-google-plus-g"></i></li></div>
                    </ul>
                </div>

                <div class="footerright">
                    <h3 class="liheader">NEWSLETTER</h3>
                    <p>By subscribing to our mailing list you will always get the latest news and updates from us.</p>
                    <div class="form-atting">
                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Enter your email..." class="newsletter">
                        <button class="btn btn3"><i class="fas fa-paper-plane"></i></button>
                    </form>
                    </div>

                    <div class="footercols">
                        <div class="information">
                            <ul>
                                <li class="liheader footeritemmargin">Information</li>
                                <li class="footeritemmargin">Home</li>
                                <li class="footeritemmargin">About Us</li>
                                <li class="footeritemmargin">Gallery</li>
                                <li class="footeritemmargin">Services</li>
                                <li class="footeritemmargin">Contact Us</li>
                            </ul>

                        </div>
                        <div class="cs">
                            <ul>
                                <li class="liheader footeritemmargin">Customer Service</li>
                                <li class="footeritemmargin">About us</li>
                                <li class="footeritemmargin">Delivery & Returns</li>
                                <li class="footeritemmargin">Warranty</li>
                                <li class="footeritemmargin">Terms & Conditions</li>
                                <li class="footeritemmargin">Privacy Policy</li>
                            </ul>
                        </div>
                        <div class="liheader">
                                <h3 class="col3footer">Contact Informatin</h3>
                                <h4 class="pea">Phone</h4>
                                <p>+91 74839 28937</p>
                                <h4 class="pea">Email</h4>
                                <p>info@bootie.com</p>
                                <h4 class="pea">Location</h4>
                                <p>Rakkar, Dharamshala</p>

                        </div>

                    </div>

                    <div class="copyright">
                    <p>© 2019 Bootie. All rights reserved | Design by W3layouts.</p>
                    <p class="longarrow"><i class="fas fa-long-arrow-alt-up"></i></p>
                </div>
                </div>
                </div>

            </footer>
        </section>
    </body>
</html>
