<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, iniial-scale=1, shrink-to-fit=no">
    <title>BOOTIE</title>
    <link rel='stylesheet' href='/stylesheet/main.css'/>
     <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>

  <body>

    <main>
      <!--  Hero Section -->
      <section class="hero herocontact">
        <!-- Header -->
              <header>
              <div class="menuwrapper">
          <nav class="flex-between">
            <h1><a class="logo" href="/"><span class="fa fa-bold"></span>ootie</a>
            </h1>

            <ul class="flex-between">
              <li><a class="nav__link" href="/">Home</a></li>
              <li><a class="nav__link" href="/about">About</a></li>
              <li><a class="nav__link" href="/blog">Blog</a></li>

              <li class="sub-menu-box">
              <a class="nav__link" href="#">Dropdown <span><i class="fas fa-caret-down"></span></i></a>
                <div class="sub-menu-container">
                <ul class="sub-menu">

                  <li><a class="sub-menu__link" href="/blog">Blog</a></li>
                  <li><a class="sub-menu__link" href="/shopnow">Shop Now</a></li>
                  <li><a class="sub-menu__link" href="/singlepage">Single Page</a></li>
                </ul>
                </div>
              </li>


              <li><a class="nav__link" href="/contact">Contact</a></li>

            </ul>

          </nav>
          </div>

          <!-- <div class="bannerinfo">
            <p> Trending of the week</p>
            <h3>CASUAL SHOWS FOR <br> MEN</h3>
            <div class="buttons">
              <button class="btn btn1">SHOP NOW</button>
              <button class="btn btn2">READ MORE</button>
            </div>
          </div> -->
              </header>
          </section>
        </main>


    <!-- breadcrumb -->
      <div class="breadcrumb">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li class="pseudo">Contact Us</li>
      </ul>
      </div>

    <!-- contact form -->

    <div class="cformheaders">
      <h4>FIND US</h4>
      <h3>CONTACT US</h3>
      </div>
    <div class="contact_wrapper">

    <div class="contactform">
    <form action="">
     <input class="form-control" type="text" placeholder="Name" />
     <input class="form-control" type="email" placeholder="Email" />
     <input class="form-control" type="phone" placeholder="Phone" />
     <textarea
      class="form-control"
      name=""
      id=""
      rows="6"
      cols="5"
     placeholder="Message"
     ></textarea>
     <div>
      <button class="btn btn4">SUBMIT</button>

              </div>
            </form>
    </div>

    <div class="contactinfo">

                <div><i class="fas fa-phone-square"></i>
                <h4 class="pea">Phone</h4>
                <p>+91 74839 28937</p>
                <p>+316 1064 0798</p>
                </div>

                <div class="cinfotype"><i class="fas fa-envelope"></i>
                <h4 class="pea">Email</h4>
                <p>info@bootie.com</p>
                <p>info@bootie.com</p>
                </div>

                <div class="cinfotype"><i class="fas fa-fax"></i>
                <h4 class="pea">Fax</h4>
                <p>(800) 123 80800</p>
                </div>

                <div class="cinfotype"><i class="fas fa-map-marker-alt"></i>
                <h4 class="pea">Location</h4>
                <p>Rakkar, Dharamshala</p>
                </div>

            </div>
          </div>

          <!-- map -->

           <div class="map">
          <iframe class="venue-map" "<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3376.0704112446006!2d76.36916075114229!3d32.202333320278356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391b530e24726e0d%3A0x71ff0cae0784712d!2sAltCampus!5e0!3m2!1sen!2sin!4v1552217953687" frameborder="0" style="border:8px solid #e7e9ec" allowfullscreen></iframe>
        </div>


        <!-- footer -->

      <section class="footersection">
      <footer class="footerwrap">
        <div class="footerleft">
          <a href="/"><h2><span class="fa fa-bold"></span>ootie</h2></a>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <h4>CATCH ON SOCIAL</h4>
          <ul class="ulsocial">
            <div class="contact_icon fbcol"><li><i class="fab fa-facebook-f"></i></li></div>
            <div class="contact_icon twittercol"><li><i class="fab fa-twitter"></i></li></div>
            <div class="contact_icon dribblecol"><li><i class="fab fa-dribbble"></i></li></div>
            <div class="contact_icon gpluscol"><li><i class="fab fa-google-plus-g"></i></li></div>
          </ul>
        </div>

        <div class="footerright">
          <h3 class="liheader">NEWSLETTER</h3>
          <p>By subscribing to our mailing list you will always get the latest news and updates from us.</p>
          <div class="form-atting">
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Enter your email..." class="newsletter">
            <button class="btn btn3"><i class="fas fa-paper-plane"></i></button>
          </form>
          </div>

          <div class="footercols">
            <div class="information">
              <ul>
                <li class="liheader footeritemmargin">Information</li>
                <li class="footeritemmargin">Home</li>
                <li class="footeritemmargin">About Us</li>
                <li class="footeritemmargin">Gallery</li>
                <li class="footeritemmargin">Services</li>
                <li class="footeritemmargin">Contact Us</li>
              </ul>

            </div>
            <div class="cs">
              <ul>
                <li class="liheader footeritemmargin">Customer Service</li>
                <li class="footeritemmargin">About us</li>
                <li class="footeritemmargin">Delivery & Returns</li>
                <li class="footeritemmargin">Warranty</li>
                <li class="footeritemmargin">Terms & Conditions</li>
                <li class="footeritemmargin">Privacy Policy</li>
              </ul>
            </div>
            <div class="liheader">
                <h3 class="col3footer">Contact Informatin</h3>
                <h4 class="pea">Phone</h4>
                <p>+91 74839 28937</p>
                <h4 class="pea">Email</h4>
                <p>info@bootie.com</p>
                <h4 class="pea">Location</h4>
                <p>Rakkar, Dharamshala</p>

            </div>

          </div>

          <div class="copyright">
          <p>© 2019 Bootie. All rights reserved | Design by W3layouts.</p>
          <p class="longarrow"><i class="fas fa-long-arrow-alt-up"></i></p>
        </div>
        </div>
        </div>

      </footer>
      </section>

  </body>

  </html>
