<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, iniial-scale=1, shrink-to-fit=no">
    <title>BOOTIE</title>
    <link rel='stylesheet' href='/stylesheet/main.css'/>
     <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>

  <body>

    <main>
      <!--  Hero Section -->
      <section class="hero herocontact">
        <!-- Header -->
              <header>
              <div class="menuwrapper">
          <nav class="flex-between">
            <h1><a class="logo" href="/"><span class="fa fa-bold"></span>ootie</a>
            </h1>

            <ul class="flex-between">
              <li><a class="nav__link" href="/">Home</a></li>
              <li><a class="nav__link" href="/about">About</a></li>
              <li><a class="nav__link" href="/blog">Blog</a></li>

              <li class="sub-menu-box">
              <a class="nav__link" href="#">Dropdown <span><i class="fas fa-caret-down"></span></i></a>
                <div class="sub-menu-container">
                <ul class="sub-menu">

                  <li><a class="sub-menu__link" href="/blog">Blog</a></li>
                  <li><a class="sub-menu__link" href="/shopnow">Shop Now</a></li>
                  <li><a class="sub-menu__link" href="/singlepage">Single Page</a></li>
                </ul>
                </div>
              </li>


              <li><a class="nav__link" href="/contact">Contact</a></li>

            </ul>

          </nav>
          </div>

          <!-- <div class="bannerinfo">
            <p> Trending of the week</p>
            <h3>CASUAL SHOWS FOR <br> MEN</h3>
            <div class="buttons">
              <button class="btn btn1">SHOP NOW</button>
              <button class="btn btn2">READ MORE</button>
            </div>
          </div> -->
              </header>
          </section>
        </main>


    <!-- breadcrumb -->
      <div class="breadcrumb">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li class="pseudo">Single Page</li>
      </ul>
      </div>

<section class="wrapper spsection">

  <div class="spmain">

    <div class="sptitle">
      <h3>SINGLE PAGE</h3>
    </div>

    <div class="spimage">
      <img src="/media/single.jpg">
    </div>

    <div class="subheadings">
      <h5>01</h5>
      <h3>Tech beauty</h3>
      <h2>VIVAMUS ID TEMPOR FELIS. CRAS SAGITTIS MI SIT AMET</h2>
  </div>
    <div class="para">
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      <br><br>
      Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat..
      <br><br>
      Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat..
      <br><br>
    </p>
    </div>

    <div class="flexdiv">
    <div class="para flexpara">
      <p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor elementum id enim volutpat...</p></div>
    <div class="fleximg">
      <img src="/media/img6.jpg">
    </div>
    </div>
  </div>
</div>

  <div class="comments wrapper">
    <h3>Leave a Reply</h3>
  </div>
  <form action="#" method="get">
  <div class="form-group">
    <label for="contactcomment">Your Comment *</label>
    <textarea rows="5" required class="contactcomment"></textarea>
  </div>
  <div class="formflex">
    <div class="flex1">
      <label for="contactemail">Email *</label>
      <input type="email" id="contactemail" class="flexemail"required>
    </div>
    <div class="flex2">
      <label for="contactname">Name *</label>
      <input type="text" id="contactname" class="flexname" required>
    </div>

  </div>

</form>
<button class="btn btn5">Post Comment</button>

  <!-- actual comments -->

  <div>
     <div class="flexcomments comment1">

      <div>
      <img src="/media/te2.jpg" class="commenters">
    </div>
      <div class="commentspacing">
      <h3>Pachas Cent</h3>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla..</p>
    </div>
  </div>



    <div class="flexcomments comment2">
      <div>
      <img src="/media/te1.jpg" class="commenters">
    </div>
      <div class="commentspacing">
      <h3>Leia Organa</h3>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla..</p>
    </div>

    <div>
  </div>

</section>

<!-- footer -->

      <section class="footersection">
      <footer class="footerwrap">
        <div class="footerleft">
          <a href="/"><h2><span class="fa fa-bold"></span>ootie</h2></a>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <h4>CATCH ON SOCIAL</h4>
          <ul class="ulsocial">
            <div class="contact_icon fbcol"><li><i class="fab fa-facebook-f"></i></li></div>
            <div class="contact_icon twittercol"><li><i class="fab fa-twitter"></i></li></div>
            <div class="contact_icon dribblecol"><li><i class="fab fa-dribbble"></i></li></div>
            <div class="contact_icon gpluscol"><li><i class="fab fa-google-plus-g"></i></li></div>
          </ul>
        </div>

        <div class="footerright">
          <h3 class="liheader">NEWSLETTER</h3>
          <p>By subscribing to our mailing list you will always get the latest news and updates from us.</p>
          <div class="form-atting">
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Enter your email..." class="newsletter">
            <button class="btn btn3"><i class="fas fa-paper-plane"></i></button>
          </form>
          </div>

          <div class="footercols">
            <div class="information">
              <ul>
                <li class="liheader footeritemmargin">Information</li>
                <li class="footeritemmargin">Home</li>
                <li class="footeritemmargin">About Us</li>
                <li class="footeritemmargin">Gallery</li>
                <li class="footeritemmargin">Services</li>
                <li class="footeritemmargin">Contact Us</li>
              </ul>

            </div>
            <div class="cs">
              <ul>
                <li class="liheader footeritemmargin">Customer Service</li>
                <li class="footeritemmargin">About us</li>
                <li class="footeritemmargin">Delivery & Returns</li>
                <li class="footeritemmargin">Warranty</li>
                <li class="footeritemmargin">Terms & Conditions</li>
                <li class="footeritemmargin">Privacy Policy</li>
              </ul>
            </div>
            <div class="liheader">
                <h3 class="col3footer">Contact Informatin</h3>
                <h4 class="pea">Phone</h4>
                <p>+91 74839 28937</p>
                <h4 class="pea">Email</h4>
                <p>info@bootie.com</p>
                <h4 class="pea">Location</h4>
                <p>Rakkar, Dharamshala</p>

            </div>

          </div>

          <div class="copyright">
          <p>© 2019 Bootie. All rights reserved | Design by W3layouts.</p>
          <p class="longarrow"><i class="fas fa-long-arrow-alt-up"></i></p>
        </div>
        </div>
        </div>

      </footer>
      </section>

  </body>

</html>
